.DS_Store
.env
sample.*
node_modules/
bower_components/
local/cache/*
local/storage/*
local/temp/*
installer.php
site/themes/brentwood/node_modules/*
site/themes/brentwood/css/*
site/themes/brentwood/js/*
